.app-header {
    max-width: 1200px;
    margin: 0 auto;
}

.app-header-logo-title {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    font-size: 20px;
}

.app-header-logo-link {
    border-right: solid 2px gray;
    margin-right: 1.5rem;
}

.app-header-logo {
    height: 40px;
    margin: 0 1.5rem 0 0;
}

.button-group button:not(:last-child), .button-group a:not(:last-child) {
    margin-right: 25px;
}

.button-link {
    text-decoration: none;
}